aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alembic==1.13.3
annotated-types==0.7.0
anyio==4.6.2.post1
astunparse==1.6.3
asyncio==3.4.3
attrs==24.2.0
babel==2.16.0
backoff==2.2.1
beautifulsoup4==4.12.3
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
colorlog==6.8.2
coverage==7.6.3
csscompressor==0.9.5
dataclasses-json==0.6.7
datasets==3.0.1
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dspy==2.5.9
eval_type_backport==0.2.0
filelock==3.16.1
frozenlist==1.4.1
fsspec==2024.6.1
ghp-import==2.1.0
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.1.1
griffe==1.4.1
grpcio==1.67.0
grpcio-tools==1.67.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
htmlmin2==0.1.13
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.25.2
hyperframe==6.0.1
idna==3.10
importlib_metadata==8.5.0
iniconfig==2.0.0
inquirerpy==0.3.4
Jinja2==3.1.4
jiter==0.6.1
joblib==1.4.2
jsmin==3.0.1
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.12
langchain-text-splitters==0.3.0
langsmith==0.1.136
linkify-it-py==2.0.3
litellm==1.49.1
llvmlite==0.43.0
lmql==0.7.3
lxml==5.3.0
magicattr==0.1.6
Mako==1.3.5
Markdown==3.7
markdown-captions==2.1.2
markdown-checklist==0.4.4
markdown-it-py==3.0.0
MarkupSafe==3.0.1
marshmallow==3.23.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
mdx-truly-sane-lists==1.3
mem0ai==0.1.19
mergedeep==1.3.4
mistralai==1.1.0
mkdocs==1.6.1
mkdocs-add-teaser==0.9.1
mkdocs-autorefs==1.2.0
mkdocs-click==0.8.1
mkdocs-coverage==1.1.0
mkdocs-exclude-search==0.6.6
mkdocs-get-deps==0.2.0
mkdocs-git-latest-changes-plugin==0.0.20
mkdocs-git-revision-date-localized-plugin==1.2.9
mkdocs-htmlproofer-plugin==1.3.0
mkdocs-link-marker==0.1.3
mkdocs-material==9.5.40
mkdocs-material-extensions==1.3.1
mkdocs-minify-plugin==0.8.0
mkdocs-nav-weight==0.2.0
mkdocs-open-in-new-tab==1.0.6
mkdocs-pagetree-plugin==0.0.14
mkdocs-publisher==1.4.2
mkdocs-roamlinks-plugin==0.3.2
mkdocs-section-index==0.3.9
mkdocs-swagger-ui-tag==0.6.10
mkdocs-toggle-sidebar-plugin==0.0.5
mkdocs-video==1.5.0
mkdocstrings==0.26.2
mkdocstrings-python==1.12.1
mock==5.1.0
monotonic==1.6
more-itertools==10.5.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
mypy==1.12.0
mypy-extensions==1.0.0
neo4j==5.25.0
nest-asyncio==1.6.0
networkx==3.4.1
numba==0.60.0
numpy==1.26.4
openai==1.51.2
openai-whisper==20240930
optuna==4.0.0
orjson==3.10.7
packaging==24.1
paginate==0.5.7
pandas==2.2.3
pathspec==0.12.1
pdoc3==0.11.1
pfzy==0.3.4
platformdirs==4.3.6
pluggy==1.5.0
portalocker==2.10.1
posthog==3.7.0
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==5.28.2
pyarrow==17.0.0
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.6.0
pydantic_core==2.23.4
Pygments==2.18.0
pymdown-extensions==10.11.2
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-cov==5.0.0
pytest-mock==3.14.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.2
pywin32==308
PyYAML==6.0.2
pyyaml_env_tag==0.1
qdrant-client==1.12.0
rank-bm25==0.2.2
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.2
rpds-py==0.20.0
safetensors==0.4.5
setuptools==75.2.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.5.1
soupsieve==2.6
SQLAlchemy==2.0.35
structlog==24.4.0
sympy==1.13.3
tenacity==8.5.0
termcolor==2.5.0
textual==0.83.0
tiktoken==0.8.0
tokenizers==0.20.1
torch==2.4.1
tqdm==4.66.5
transformers==4.45.2
typer==0.12.5
types-colorama==0.4.15.20240311
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
uc-micro-py==1.0.3
ujson==5.10.0
urllib3==2.2.3
watchdog==5.0.3
wcwidth==0.2.13
wheel==0.44.0
xxhash==3.5.0
yarl==1.15.2
zipp==3.20.2
